<footer class="bottom-0 text-black py-3 lg:ml-96">
    <div class="container mx-auto text-center">
        <p>&copy;2025 Andrew Grube. All rights reserved.</p>
    </div>
    <script defer src="assets/js/feather-replace.min.js"></script>
</footer>