<!doctype html>
<html lang="en">
  <%- include('../partials/header') %>
  <body class="bg-gradient-to-t from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% flex flex-col min-h-screen">
    <%- include('../partials/sidebar') %>
    <div class="content lg:ml-96 py-4 px-4 flex-1">
      <div class="text-center">
        <h1 class="text-4xl font-bold">404 - Page Not Found</h1>
        <p class="mt-4">Sorry, the page you are looking for does not exist.</p>
        <a href="<%= basePath %>index.html" class="mt-4 inline-block bg-teal-700 text-white py-2 px-4 rounded">Go to Home</a>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
