<!doctype html>
<html lang="en">
<html>
  <title>Andrew Grube Photography - Home</title>
   <%- include('../partials/header') %>
<body class="bg-gradient-to-t from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% flex flex-col min-h-screen">
  <%- include('../partials/sidebar') %>
  <div class="content lg:ml-96 py-4 px-4 flex-1">
    <div>
      <div class="grid grid-cols-1">
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC09513.webp" data-lightbox="gallery" data-title="Union Station in December (2024) - Kansas City, Missouri" data-alt="Union Station in December">
            <picture>
              <source srcset="assets/images/thumbs/DSC09513-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC09513-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC09513.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC09513.webp" alt="Union Station in December" class="w-full h-auto">
            </picture>
          </a>
        </div>
      </div>
      <!-- Photo Gallery -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 mt-5 lg:mr-5">
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC_2569.webp" data-lightbox="gallery" data-title="Broken Dreams (2024) - Kansas City, Missouri" data-alt="West Bottoms Broken Down Honda">
            <picture>
              <source srcset="assets/images/thumbs/DSC_2569-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC_2569-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC_2569.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC_2569.webp" alt="West Bottoms Broken Down Honda" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC_2549.webp" data-lightbox="gallery" data-title="test - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/DSC_2549-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC_2549-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC_2549.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC_2549.webp" alt="test" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0570.webp" data-lightbox="gallery" data-title="Image 0570 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0570-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0570-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0570.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0570.webp" alt="Image 0570" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC_1517.webp" data-lightbox="gallery" data-title="Image 1517 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/DSC_1517-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC_1517-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC_1517.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC_1517.webp" alt="Image 0571" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC_2167.webp" data-lightbox="gallery" data-title="Image 1517 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/DSC_2167-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC_2167-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC_2167.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC_2167.webp" alt="Image 0571" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/DSC_2332.webp" data-lightbox="gallery" data-title="Image 1517 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/DSC_2332-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/DSC_2332-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/DSC_2332.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/DSC_2332.webp" alt="Image 0571" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0575.webp" data-lightbox="gallery" data-title="Image 0575 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0575-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0575-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0575.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0575.webp" alt="Image 0575" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0577.webp" data-lightbox="gallery" data-title="Image 0577 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0577-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0577-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0577.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0577.webp" alt="Image 0577" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0578.webp" data-lightbox="gallery" data-title="Image 0578 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0578-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0578-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0578.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0578.webp" alt="Image 0578" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0580.webp" data-lightbox="gallery" data-title="Image 0580 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0580-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0580-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0580.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0580.webp" alt="Image 0580" class="w-full h-auto">
            </picture>
          </a>
        </div>
        <div class="overflow-hidden rounded-lg">
          <a href="assets/images/full/IMG_0571.webp" data-lightbox="gallery" data-title="Image 0571 - Kansas City, Missouri">
            <picture>
              <source srcset="assets/images/thumbs/IMG_0571-small.webp" media="(max-width: 600px)">
              <source srcset="assets/images/thumbs/IMG_0571-medium.webp" media="(max-width: 1200px)">
              <source srcset="assets/images/thumbs/IMG_0571.webp" media="(min-width: 1201px)">
              <img src="assets/images/thumbs/IMG_0571.webp" alt="Image 0571" class="w-full h-auto">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>