<!doctype html>
<html lang="en">
<html>
   <%- include('../partials/header') %>
<body class="h-screen overflow-y-hidden">
  <%- include('../partials/sidebar') %>
  <div class="content lg:ml-96">
    <div>
        <div class="bg-gradient-to-t from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% h-screen flex flex-col items-center justify-center text-center">
            <div class="text-white">
              <h1 class="text-4xl font-bold">Coming Soon</h1>
              <p class="mt-4 text-lg">We're working on something awesome!</p>
            </div>
          </div>
    </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>